
.nav{
    height: 7vh;
    width: 100vw;
    background-color: #e65a50;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 5vh;
    position: fixed;
    z-index: 5;
    overflow-y: hidden;

}

.petlook{
    position: absolute;
    left: 45%;
    cursor: pointer;
}

.logo{
    height: 6vh;
    position: absolute;
    top: 12%;
    left: 42%;
}

